/*
-	Clone-2 "Google"
-	Developed by Mayank
-	CopyRight by Google
-	CSS : ./css/form.css
*/
#login_section
{
    display: grid;
    place-content: center center;
    font-size: 14px;
    font-weight: 540;
    color:#6c757d;
}
#login_form
{
    min-width: 400;
    margin: 10vh auto 0 auto;
    padding: 2rem 2rem 3rem 2rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
}
/*
     center brand title
*/
.text_center
{
    text-align: center;
    padding: 1rem 0;
}
#brand
{
    font-size: 1.5rem !important;
    padding: 1rem;
}
#brand .char
{
    margin-left: -0.3rem;
}
legend
{
    padding: 5px;
    text-align: center;
    font-weight: 540;
    font-size:20px;
    line-height: 2rem;
}
/*
    field label -----------
*/
.fld_lbl
{
    padding: 1rem 0;
    position: relative;
}
.lbl
{
    position: absolute;
    left:1rem;
    top:2rem;
    font-weight: 550;
    font-size: 14px;
    color:#6c757d;
}
#email_fld
{
    width: 90%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #adb5bd;
    border-radius: 5px;
}
#email_fld:hover
{
    border:1px solid #0d6efd;
}
:is(.fld_lbl:hover,#email_fld:hover) .lbl
{
    transition: all linear 0.2s;
    top:0.5rem;
    padding: 0 5px;
    color:#0d6efd;
    background:#fff;
}
/*
    button group & links ----------
*/
.link
{
    line-height: 3rem;
    color:var(--blue);
}
.link:hover
{
     color:#0050c9;
}
.btn_grp
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more
{
    padding: 3rem 0;
}
/*
    second footer --------
*/
#second_footer
{
    display: flex;
    justify-content: space-between;
}
#second_footer > select
{
    width: 30%;
    border-bottom: none;
}
#second_footer > div
{
    display: flex;
}
/*
	THE END ===
*/
